html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: sans-serif;
}

body {
    padding: 0;
    background-color: rgb(34, 34, 34);
    user-select: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


#branding {
    z-index: 8;
    position: absolute;
}

#branding span {
    padding: 5px;
    font-size: 10px;
}

#branding img {
    padding: 5px;
    height: 56px;
    image-rendering: pixelated;
}


#sidebar {
    width: 200px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 10px;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#toolarea {
    width: 200px;
}

textarea {
    resize: none;
    height: 20px;
    line-height: 20px;
    box-sizing: unset;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(90, 90, 90);
    color: white;
    width: 50px;
    vertical-align: middle;
}

button {
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.toolButton {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 2px;
    vertical-align: top
}

.toolButton img {
    width: 80%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

canvas {
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}

#main, #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}


#picker {
    background-image: url(./assets/checkerboard.png);
    background-size: 20px;
    cursor:w-resize;
    border-radius: 5px;
}

#indicator-red {
    color: rgb(255, 0, 0);
}
#indicator-green {
    color: rgb(0, 255, 0);
}
#indicator-blue {
    color: rgb(0, 0, 255);
}
#indicator-alpha {
    color: rgb(128, 128, 128);
}


#workarea {
    position: absolute;
    background-image: url(./assets/checkerboard.png);
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}